/********************* Home ********************************/

.content {
    text-align: center;
}
.Menu_principal {
    padding: 0px;
    margin: 100px 0 10px 0;
    display: inline-block;
    position: relative;
}
ul {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
    margin: 0;
    padding: 0;
}
.Menu_principal li {
    font-size: 40px;
    font-family: 'Josefin Slab', Arial, sans-serif;
    display: block;
}
.Menu_principal li a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0px 0px 2px #1384ee;
    color: #1384ee;
    padding: 5px 20px;
    margin: 2px;
    background: rgba(0,0,0,0.7);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
    transition: all 0.2s linear;
}
.Menu_principal:hover li a{
	text-shadow: 0px 0px 10px #1384ee; /*#eeb213;*/
	color: transparent;
	background: rgba(0,0,0,0.2);
}
.Menu_principal li a:hover{
	background: rgba(0,0,0,1.0);
	text-shadow: 0px 0px 1px #1384ee; /*#eeb213;*/
}
body {
    background-color: transparent;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: auto, cover;
}